{% extends "registration/base.html" %}
{% load bootstrap%}

    {% block title %}
    <title>{{SITE_NAME}} - Change Password</title>
    {% endblock %}

{% block content %}
     
    <div class = "row">
        <h2 style="text-align:center">Login</h2>
        <div class = "col-md-offset-3 col-md-6">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="">
        {% csrf_token %}

        {{form|bootstrap}}

        <input type="submit" class="btn btn-success btn-lg" value="Change Password">
        </form>

        </div>
    </div>
{% endblock %}
