*.pyc
*.sqlite3
config.py
configlocal.py
.settings/
.project
.pydevproject
fabfile.py
media/
_env/
.vagrant
#################
## Eclipse
#################
/vendor/kindlegen
*.pydevproject
.project
.metadata
.gradle
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
static/CACHE
static/COMPILED
config.yaml
ubuntu-xenial-16.04-cloudimg-console.log