{% extends 'frontend/base.html' %}
{% load bootstrap %}
{% load extra_tags %}
    {% block title %}
    <title>{{SITE_NAME}} - Get Tokens</title>
    {% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            Tokens
        </h2>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
            <li class="active">
                <i class="fa fa-cubes"></i> Get Tokens
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
        {% if message %}
        {% alert message %}
        {% endif %}
<div class="row">
    {% for o in options %}
        <div class="col-md-4" style="text-align:center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{o.verbose}}</h3>
                </div>
                <h3>{{ o.verbose }} for £{{o.price|int}}</h3>
                <br>
                {{o.p_form.render}}
                <br>
            </div>
        </div>
    {% endfor %}
</div>
        <form method="post" action="">
        {% csrf_token %}
        <div class = "row">
            <div class = "col-md-6">

            </div>
        </div>
        </form>
{% endblock %}