
/* font settings for all text */
body {
		font-family: 'Open Sans', sans-serif;
		font-size: 13pt;
}

/* paragraph styling */
p {
text-align:justify;
}

/* header styling */
.h1,
h1,
h2,
h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* top left 'brand' title styling */
.short-title {
	font-weight: bold;
	font-size: 14pt;
}

.next_section {
}

/* style for menu links */
.nav-text {
	font-size: 14pt;
}

.table {
   display: block !important;
}

table, th, td {
   border: none;	
}


.previous_section{
	text-align:center;
	font-style: italic;
	padding-top:0px;
	padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
.responsive-table {
	max-width:85vw; 
	overflow-x:auto;
}

}



/* style for blockquotes */
.blockquote {
  background-color: #D6E6FF;
  border-left: 10px solid #8AB7FF;
  margin: 5px 10px 10px 10px;
  padding: 5px 10px 10px 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

/* style for inline quotes - e.g. ""hello"" */
span.quote {
    font-style: italic; 
}

/* style for footnote bubbles */
.footnotes {
  border: 2px solid lightgrey;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  word-wrap: break-word;
}

.footnotes > p {
  text-align:left;
}

/* style for aside bubbles */
.extended  {
  border: 10px solid lightgrey;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  display:none;
}

.content {
word-wrap: break-word;
}

/* style applied to content when it has been highlighted by a link */
.highlighted-content {
background-color:yellow;
}


.byline {
text-align:center;
}

.other-formats-text {
text-align: center;
font-style: italic;
}




#related-research::after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  margin: 0px auto;
  margin-top:20px;
  text-indent: -9999px;
  border-top: 1px solid #585858;
}
        

.next_section::after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  margin: 0px auto;
  margin-top:20px;
  text-indent: -9999px;
  border-top: 1px solid #585858;
}

.h1,h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
		
.h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
		
h1::after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  margin: 0px auto;
  margin-top:20px;
  text-indent: -9999px;
  border-top: 1px solid #585858;
}

h2::after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  margin: 0px auto;
  margin-top:20px;
  text-indent: -9999px;
  border-top: 1px solid #585858;
}

h3{
  font-size: 2em;
}

h3::after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  margin: 0px auto;
  margin-top:20px;
  text-indent: -9999px;
  border-top: 1px solid #585858;
}


.header-text {
margin-bottom: 30px;
}


.index::after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  margin: 0px auto;
  margin-top:20px;
  text-indent: -9999px;
  border-top: 1px solid #585858;
  margin-bottom:20px;
}

.chart_holder{
	width:300px;
}

@media (min-width: 767px) {
	.chart_holder{
	width:100%;
	text-align:center;
}
}