body{
	overflow: hidden;
}

nav {
	display: none;
}

.navbar, .large-menu, .fixed-top, .d-md-flex {
	display: none!important;
}

.hide-link{
	display:none;
}

.extended-row,.extended {
	display: block;
}

.container,.content-row, .content {
	background-color: $content-background-color;
}

.first-sentence{
	font-weight:bold
}