{% load static %}
{% load extra_tags %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{article.title}}</title>
<link href="{% static 'css/kindle.css' %}" rel="stylesheet"  type='text/css'>

<style>
span.quote {
    font-style: italic; 
}

blockquote {
    font-style: italic; 
}

.asset-long-desc{
	display: None;
}

.bold {
	font-weight:bold;
}
</style>

</head>

<body>

<h1>{{article.title}}</h1>
<p>{{article.authors}}</p>

<div id="toc">
            <ul>
            {% if content.sections.0.name == "" %}
            {% endif %}
			
			{% with content.toc as toc %}
			{% for s in toc.top_two_levels %}
				<li><a href="#{{s.anchor}}">{{s.name|safe}}</a>
				{% if s.reduced_diff == 1 %}
					<ul>
				{% elif s.reduced_diff == 0 %}
					</li>
				{% elif s.reduced_diff == -1 %}
					</li></ul></li>
				{% elif s.reduced_diff == -2 %}
					</li></ul></li>
				{% endif %}
			{% endfor %}
			{% endwith %}
			
            {% if content.footnotes %}
            <li><a href="#refs">Notes</a></li>
            {% endif %}
            </ul>
</div>
<mbp:pagebreak />
{% for s in content.sections %}
    <mbp:section />
    {%if s.name %}
        <H1 id="{{s.anchor}}">{{s.name|safe}}</h1>
    {% else %}
        {% if forloop.counter == 1 %}
            <h2 id="start">{{article.short_title|safe}}</a></h2>
        {% endif %}
    {% endif %}
    {% for g in s.get_kindle_grafs %}
        {%if g.title %}
        <H{{g.header_level}} id="{{g.anchor}}">{{g.title|safe}}</h{{g.header_level}}>
        {% endif %}
        {% if g.tag %}
            <a name="tag.{{g.tag}}"></a> 
        {% endif %}
        {% if g.is_extended_start %}<hr>{% endif %}
        {% if g.blockquote %}<blockquote>{% endif %}
        <{{g.get_element_tag}} id = "p{{g.order}}">
        {% if g.asset %}{{article|display_asset_kindle:g.asset}}{% else %}{% if txt_mode == "kindle" %}{{g.display_kindle}}{% else %}{{g.display_text}}{% endif %}{% endif %}
        {% if g.expand_link.0 == "expand" and article.display_notes == False %}
         <a name="notes-{{g.expand_link.1}}-link" href="#notes-{{g.expand_link.1}}">(Notes)</a>
        {% endif %}
        </{{g.get_element_tag}}>
        
        {% if g.blockquote %}</blockquote>{% endif %}
        {% if g.is_extended_end %}<hr>{% endif %}
    
    {% endfor %}
    <mbp:pagebreak />
{% endfor %}
         {% with content.footnotes as notes %}
            {% if notes %}
            <h2 id="refs">Notes</h2>
                        {% if txt_mode == "text" %}
                        <hr>
                        {% endif %}
            {% for s in content.sections %}
                {% for g in s.get_kindle_extras %} 
                        <a name="notes-{{g.order}}"></a>
                        {% for p in g.self_and_extras %}
                            <p>{{p.display_kindle}}</p>
                        {% endfor %}
                        <a href="#notes-{{g.order}}-link">Return</a>
                        <mbp:pagebreak />
                        {% if txt_mode == "text" %}
                        <hr>
                        {% endif %}
                {% endfor %}
            {% endfor %}

            <mbp:pagebreak />
            {% for f in notes %}
               {% if txt_mode == "text" %}
                <p><a name="footnote-{{f.num}}" href="#footnote-{{f.num}}-ref">{{f.num}}</a>:{{f.safe_content}}</p>
                {% else %}
                <p><a name="footnote-{{f.num}}" href="#footnote-{{f.num}}-ref">{{f.num}}</a>:{{f.kindle_content}}</p>
                <br><br>
                <p><a href="#footnote-{{f.num}}-ref">Return to text.</a></p>
                {% endif %}
                <mbp:pagebreak />
            {% endfor %}

            {% endif %}
        {% endwith%}

        <mbp:pagebreak />
</body>
</html>