{% extends "ink/article.html" %}
{% load extra_tags %}
{% load cache %}

{% block body %}
<div class="background_image">
{% block title_image %}

<div class = "container container-fluid image-container" >
{% with article.title_image as tl %}
    {% if tl %}
        {% header_image tl article.title %}
    {% endif %}
{% endwith %}
</div>
{% endblock %}
{% block title %}
<div class="container">
	<a class="anchor" id="a0" name="top"></a>   
      <div class="header-text text-center">
        <p class="article_title h1{% if article.title_image.size == -1 %} background_title{% endif %}" id="article_title">{{article.split_title}}</p>
		{% if article.split_subtitle %}
        <p class="article_subtitle h1" id="article_subtitle">{{article.split_subtitle}}</p>		
		{% endif %}
      {% if article.byline %}
          <p class = "byline">{{article.byline}}</p>
      {% endif %}
              <p class="other-formats-text">
			  Other formats: <a href="{{SITE_ROOT}}plain.html" class="alt_link" type="plain" >Plain text</a>,
			  {% if article.pdf_url %} <a href="{{article.pdf_url}}" class="alt_link" type="pdf" >PDF</a>,{% endif %}
			  <a href="{{SITE_ROOT}}{{article.slug}}.mobi"  class="alt_link" type="kindle" >Kindle .mobi</a>,
			  <a href="{{SITE_ROOT}}{{article.slug}}.epub"  class="alt_link" type="epub" >EPUB</a>.</p>
      </div>
{% endblock %}
	{% block search %}
	{% endblock %}
        <a class="anchor" id="index" name="index"></a> 
        <div id="index-container" class="index content {% if article.display_toc == False %}hide-index{% endif %}">
		
			{% block search_results %}
			{% endblock %}
		
                <H1 id="toc">Contents</h1>
                <div class="toc_content">
				<ul>
				{% with content.toc as toc %}
                {% for s in content.toc %}
					{% with s.future_level_difference as fl %}
						<li><a href="{{s.nav_url}}">{{s.name|safe}}</a>
						{% if fl > 0 %}
							<ul>
						{% elif fl == 0 %}
							</li>
						{% else %}
						{% for i in fl|range %}
						</ul></li>
						{% endfor %}
						{% endif %}
					{% endwith %}
                {% endfor %}
				{% for i in toc.final_level_range %}
                </ul>
				{% endfor %}
				</div>
				{% endwith %}
        </div> 
    {% block content %}
	<main>
    <div class="content">  
    {% for s in content.display_sections %}
		{# iterate through sections #}
        {% if s.name %}
			<section aria-labelledby="h.{{s.order}}">
            <a class="anchor linkable" id="a{{s.order}}" name="{{s.anchor}}" first_graf="{{s.first_graf_id}}"></a> 
            <div id = "s{{s.order}}" prev = "s{{s.prev_if_single_page}}" class="content-row section-anchor header-text">
            {% with article.image_lookup|get_item:s.name as image %}
                {% if image %}
                    <div class="section-heading-image">
                        {% header_image image s.name %}
                    </div>
                {% else %}
                    <H1 id = "h.{{s.order}}">{{s.name}}</h1>
                {% endif %}
            {% endwith %}
            </div>
		{% else %}
		<a class="anchor" id="start" name="start"></a>     
		<section aria-label="Introduction">
        {% endif %}
	{% if article.multipage and s.active_section %}
			{% with s.prev_section as prev %}
				{% if prev %}
					<div class = "previous_section">
					Previous Section: <a href="{{prev.nav_url}}">{% if prev.name %}{{prev.name}}{% else %}Introduction{% endif %}</a>
					</div>
				{% endif %}
			{% endwith %}
		{% endif %}   
		<div class = "section">
		{% for g in s.get_grafs %}
			{%if g.title %}
			<div class = "content-row">
				<a class="anchor linkable" id="{{s.order}}g{{g.order}}" name="{{g.anchor}}"></a> 
				<h{{g.header_level}}>{{g.title|safe}}</h{{g.header_level}}>
			</div>
			{% endif %}
			<a class="noscript-anchor" name = "{{g.combo_key}}"></a>
			{{g.anchor_code}}
			<div class = "content-row {{g.classes}}" id = "r{{g.order}}">
					{% if g.start_tag %}
					<div id="g{{g.order}}" class="{{g.start_tag_class_type}}">
					{% endif %}
					{# blockquotes and notes sections count additional sections of text in the same 'graf' #}
					{% for p in g.self_and_extras %}
					{% if forloop.counter == 1 %}
						<a class="cite-link cite-copy" id="c{{g.order}}" href="{{article|cite_link:g}}" para_tag="{{g.para_tag|empty_if_none}}" title="Get paragraph link" aria-hidden="true" tabindex="-1">
						<i class="icon-link"></i>
						</a>
					{% endif %}
					<{{p.h_name}} id = "p{{p.order}}" {% if p.custom_classes %} class="{% for p in p.custom_classes%}{{p|safe}} {% endfor %}"{% endif%}>
								{% if p.asset %}
									{{article|display_asset:p.asset}}
								{% else %}
									{{p.display}}
								{% endif %}
							{% if p.expand_link.0 == "expand" %}
								<a href="#" class = "expand-link" id="e{{p.expand_link.1}}">(Notes)</a>
							{% endif %}
							{% if forloop.last and g.extended and article.display_notes == false %}
								<a href="#" class = "hide-link" id="{{g.order}}">(Hide)</a>
							{% endif %}
						</{{p.h_name}}>
						{% if p.footnotes %}
						<div id = "f{{p.order}}" class = "footnotes">
						<p>Notes (<a href="" class="hide-footnotes">hide</a>):</p>
							{% for f in p.footnotes %}
								<p id="ref{{f.num}}">{{f.num}}: {{f.safe_content}} </p>
							{% endfor %}
						</div>
						{% endif %}
					{% endfor %}
					{% if g.end_tag %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		
		</div>
		</section>
		{% if article.multipage and s.active_section %}
			{% with s.next_section as next %}
				{% if next %}
					<div class = "next_section">
					<h3>Next Section: <a href="{{next.nav_url}}">{{next.name}}</a></h3>
					</div>
				{% endif %}
			{% endwith %}
		{% endif %}         
	
    {% endfor %} 
	
	{% if article.bottom_iframe %}
	<h1 id="related-research">Related Research</h1>
	<iframestub></iframestub>
	<noscript>
	<iframe src="{{article.bottom_iframe}}" id="iframe_related" height=400 scrolling="no" ></iframe>
	</noscript>


	{% endif %}
             {% with content.footnotes as notes %}
                {% if notes and article.display_footnotes_at_foot %}       
                        <div class = "content-row dont-break-out">
                                    <h1 id="endnotes">Footnotes</h3>
                                    <div class="footnote_list">
                                    {% for f in notes %}
                                        <p><a href="#ref{{f.num}}">{{f.num}}</a>: {{f.safe_content}} </p>       
                                    {% endfor %}
                                    </div>
                        </div>
                {% endif %}
            {% endwith%}
			
		
    </div>
	
	</div>
	</main>
    <script>
    sections = {
                {% for s in content.sections %}
                {{s.order}}:{
                    "catch_up":"{{s.catch_up}}",
                    "sub":{
                    {% for g in s.get_grafs_with_titles %}{% if g.catch_up %}
                    "{{g.order}}":"{{g.catch_up}}",
                    {% endif %}{% endfor %}
                    }
                },
                {% endfor %}
    };
    </script>
    
{% endblock %}
</div>
{% endblock %}
</div>