{% load cache %}
{% load static %}
{% cache 10000 article_nav %}


<!-- desktop menu -->
<nav class="navbar navbar-default navbar-fixed-top " role="navigation">

  <div id="large-menu" class="container-fluid large-menu">
      <a id="brand" class="navbar-brand short-title" href="{{article.url}}#top">{{article.short_title}}</a>

      <ul class="nav navbar-nav nav-text">
		<li id = "search-link" class="action-buttons search_link">
		    <a class="search_link" href="{{article.search_url}}"  title="Search Document"><i class="icon-search"></i></a>
		</li>
 		<li id ="menu-index" class="action-buttons"><a href="#index"  title="View Table of Contents"><i class="icon-th-list"></i></a></li>
            <li id ="menu-prev" ><a id ="menu-prev" href="#"><i class="icon-angle-double-left"></i></a>
        </li>
		{% with content.toc as toc %}
        {% for s in toc.level_1 %}
			<li class="top-menu-item {% if s.order not in article.nav_default_range %}hide-item{% endif %}"
			id ="menu-{{s.id}}"
			item={{s.id}}>
				<a class="top-nav-item {%if s.has_children %}nav-has-child{%endif%}" section={{s.id}}  href="{{s.nav_url}}">{{s.name}}</a></li>
				{% if s.has_children %}
					<li id ="caret-menu-{{s.id}}" item={{s.id}} class="dropdown {% if s.id not in article.nav_default_range %}hide-item{% endif %}" ><a href="#" id="{{s.id}}" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
					<ul class="dropdown-menu pull-right" role="menu">
						{% for c in s.children %}            
							<li><a parent="{{s.id}}" class="caret-link" href="{{c.nav_url}}">{{c.caret_title}}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
            </li>
        {% endfor %}
		{% endwith %}
		<li id ="menu-next"><a id ="menu-next" href="#"><i class="icon-angle-double-right"></i></a></li>
		
		</ul>
        <ul class="nav navbar-nav navbar-right">
		{% if article.pdf_url %}
		<li id = "download-link" class="action-buttons"><a href="{{article.pdf_url}}" title="Download PDF" class="alt_link" type="pdf" ><i class="icon-download"></i></a></li>
		{% endif %}
			<li class="dropdown action-buttons" item="info-link" id="home-link">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="info-link" title="{{article.org.name}}">
			{% if article.org.icon %}
			<img src="{% static article.org.icon %}" />
			{% else %}
			<i class="icon-home" ></i>
			{% endif %}
			</a>
			<ul class="dropdown-menu" role="menu">
				{% if article.repo_entry %}
				<li><a href="{{article.repo_entry}}">About This Publication</a></li>
				{% endif %}
				{% for link in article.org.org_links_ordered %}
				<li><a href="{{link.link}}">{{link.name}}</a></li>
				{% endfor %}
			</ul>
			</li>
				
        </ul>
        
    {% comment %}
    {% if article.has_notes %}
    <ul class="nav navbar-nav navbar-right ">
    <li id ="master_expand"><a id ="master_expand_link" href="#">Expand All Notes</a></li>
    </ul>
    {% endif %}
    {% endcomment %}

  </div>

  
    <!-- mobile menu -->
    <div class="container-fluid mobile-menu">
    <div class="navbar-header" id="mobile-navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile_menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand short-title cite-copy mobile-header-link" href="#"><i class="icon-link header-icon"></i></a><a id="mobile-title" class="navbar-brand short-title" href="#">{{article.short_title}}</a>
    </div>

    <div class="collapse navbar-collapse" id="mobile_menu">
      <ul class="nav navbar-nav nav-text">
        <li ><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse" href="#index">Table of Contents</a></li>
		{% if article.pdf_url %}
		<li ><a class="nav-link alt_link" data-toggle="collapse" data-target=".navbar-collapse" href="{{article.pdf_url}}" type="pdf">Download PDF</a></li>
		{% endif %}
		<li ><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse" href="search">Search</a></li>
		<li role="separator" class="divider"></li>
		{% with content.toc as toc %}
        {% for s in toc.level_1 %}
			<li><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse"  href="{{s.nav_url}}">{{s.name}}</a></li>
        {% endfor %}
		{% endwith %}
		{% if article.repo_entry %}
		<li><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse"  href="{{article.repo_entry}}">About This Publication</a></li>
		{% endif %}
		<li role="separator" class="divider"></li>
		{% for link in article.org.org_links_ordered %}
			<li><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse"  href="{{link.link}}">{{link.name}}</a></li>
		{% endfor %}
        </ul>

    </div>
  </div>
  
</nav>

{% endcache %}