{% load static %}
{% load extra_tags %}

{% for s in content.sections %}
    {%if s.name %}
        <H2 id="{{s.anchor}}">{{s.name|safe}}</h2>
    {% else %}
        {% if forloop.counter == 1 %}
            <h2 id="intro">{{article.short_title|safe}}</h2>
        {% endif %}
    {% endif %}
    {% for g in s.get_kindle_grafs %}
        {%if g.title %}
            <H3 id="{{g.anchor}}">{{g.title|safe}}</h3>
        {% endif %}
        {% if g.tag %}
            <a name="tag.{{g.tag}}"></a> 
        {% endif %}
        {% if g.is_extended_start %}<hr>{% endif %}
        {% if g.blockquote %}<blockquote>{% endif %}
        <p>
        {% if g.asset %}{{article|display_asset_kindle:g.asset}}{% else %}{{g.display_kindle}}{% endif %}
        {% if g.expand_link.0 == "expand" and article.display_notes == False %}
         <a epub:type="noteref" href="#notes-{{g.expand_link.1}}">(Notes)</a>
        {% endif %}
        </p>
        
        {% if g.blockquote %}</blockquote>{% endif %}
        {% if g.is_extended_end %}<hr>{% endif %}
    
    {% endfor %}
{% endfor %}

            {% for s in content.sections %}
                {% for g in s.get_kindle_extras %} 
						<aside epub:type="footnote" id="notes-{{g.order}}">
                        {% for p in g.self_and_extras %}
                            <p>{{p.display_kindle}}</p>
                        {% endfor %}
						</aside>
                {% endfor %}
            {% endfor %}

         {% with content.footnotes as notes %}
            {% if notes %}
            {% for f in notes %}
            <aside epub:type="footnote" id="footnote-{{f.num}}"><p>{{f.num}}</a>:{{f.kindle_content}}</p></aside>
            {% endfor %}

            {% endif %}
        {% endwith %}