{% load static %}
{% load extra_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Extract from: {{article.title}}</title>
{% with social_settings as ss %}
{% if graf.has_content %}
    <meta property="og:site_name" content="{{ss.share_site_name}}"/>
    <meta property="og:title" content="Excerpt from: {{article.title}}"/>
    <meta property="og:description" content="{{article.description}}" />
    <meta property="og:url" content="{{graf.social_cite_link}}" />
    <meta property="og:image" content="{{SITE_ROOT}}{{graf.paragraph_image_url}}" />

    <meta name="twitter:card" content="summary_large_image">
    {% if article.org.twitter %}<meta name="twitter:site" content="@{{article.org.twitter}}">{% endif %}
    <meta name="twitter:title" content="Excerpt from: {{article.title}}">
    <meta name="twitter:description" content="{{article.description}}">
    <meta name="twitter:image" content="{{SITE_ROOT}}{{graf.paragraph_image_url}}">
    <meta name="twitter:image:alt" content="{{graf.display_bare}}">
{% else %}
    <meta property="og:site_name" content="{{ss.share_site_name}}"/>
    <meta property="og:title" content="Excerpt from: {{article.title}}"/>
    <meta property="og:description" content="{{article.description}}" />
    <meta property="og:url" content="{{graf.social_cite_link}}" />
    <meta property="og:image" content="{{ss.share_image}}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ss.share_site_name}}">
    <meta name="twitter:title" content="{{article.title}}">
    <meta name="twitter:description" content="{{ss.share_description}}">
    <meta name="twitter:image" content="{{ss.share_image}}">
    <meta name="twitter:image:alt" content="Excerpt from: {{article.title}}">
{% endif %}

{% endwith %}
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; url={% if graf %}{{graf.social_cite_link}}{% else %}{{article.social_url}}#{{paragraph_tag}}{% endif %}">
</head>
</html>