{% extends "ink/article_main.html" %}
{% load static %}


{% block title_image %}
{% endblock %}

{% block extra_head %}
<style>
.index {
    display:block;
}
</style>
{% endblock %}

{% block search %}

    <div class = "content">
    <form >
    <h1>Search document</h1>
    <div class="input-group">
      <input name="q" id="tipue_search_input"  autocomplete="off"  type="text" class="form-control" placeholder="Search for..." required>
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Go!</button>
      </span>
    </div><!-- /input-group -->
    </form>
    <div id="tipue_search_content"></div>
    <div><p>Search powered by <a href="http://www.tipue.com">Tipue</a>.</p></div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block code %}
<script type="text/javascript" src="{% static 'js/tipuesearch_set.js' %}"></script>
<script type="text/javascript" src="tipuesearch_content.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tipuesearch.css' %}">
<script type="text/javascript" src="{% static 'js/tipuesearch.min.js' %}"></script>
<script>
$(document).ready(function() {

	$('form input').keydown(function (e) {
		if (e.keyCode == 13) {
			e.preventDefault();
			return false;
		}
	});

     $('#tipue_search_input').tipuesearch({'showURL':false,
                                           'showTitleCount':false}
     );
});
</script>

{% endblock %}