{% extends "ink/article_main.html" %}
{% load compile_static %}
{% load static %}
{% load compress %}

{% block title_image %}
{% endblock %}

{% block extra_head %}
<style>
.index {
    display:block;
}
</style>
	{% compress css file search_css_file %}
	<link href="{% static 'scss/search.scss'|compile %}" rel="stylesheet"  type='text/css'>
	{% endcompress %}

{% endblock %}

{% block search %}

    <div class="content" style="margin-bottom:30px">
    <form>
<div class="input-group mb-3">
      <input name="q" id="tipue_search_input"  autocomplete="off"  type="text" class="form-control" placeholder="Search for..." required>
  <div class="input-group-append">
        <button class="btn btn-success" type="submit">Search</button>
  </div>
</div>
    </form>
{% endblock %}

{% block search_results %}
    <div id="tipue_search_content"></div>
    <div style="font-style: italic;margin-top:30px"><p><i>Search powered by <a href="http://www.tipue.com">Tipue</a>.</p></i></div>
{% endblock %}

{% block content %}
{% endblock %}

{% block code %}


<script type="text/javascript" src="{% static 'js/tipuesearch_set.js' %}" defer></script>
<script type="text/javascript" src="tipuesearch_content.js" defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tipuesearch.css' %}">
<script type="text/javascript" src="{% static 'js/tipuesearch.min.js' %}" defer></script>



<script>
    window.addEventListener('DOMContentLoaded', function() {

	$('form input').keydown(function (e) {
		if (e.keyCode == 13) {
			e.preventDefault();
			return false;
		}
	});

     $('#tipue_search_input').tipuesearch({'showURL':false,
                                           'showTitleCount':false}
     );
});
</script>

{% endblock %}