body {
	overflow-x: hidden;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-bottom: .5em;
	margin-top: 0;
}

#mobile-navbar-header {
	padding-left: 10px;
	padding-right: 10px;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
	content: " ";
	display: table;
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
	clear: both;
}

.header-pos {
	float: none;
	margin: 0 auto;
	text-align: center;
}

.icon-link {
	color: black;
}

.cite-inline {
	display: block;
	text-align: center;
}

.dropdown-toggle {
	margin-left: 0!important;
}

.asset-caption {
	display: block;
	font-style: italic;
	margin-bottom: 30px;
	text-align: center;
}

.asset-caption-table {
	display: block;
	font-style: italic;
	margin-bottom: 30px;
	text-align: left;
}

.nav-has-child {
	padding-right: 0!important;
}

.footnotes {
	display: None;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid black;
}

th,
td {
	padding-left: 15px;
}

.nav-link {
	white-space: nowrap;
}

.content-row {
	transition: background-color 1s ease;
}

.content {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.cite-link,
.catchup-link {
	display: none;
	float: left;
	font-size: 14px;
	left: -20px;
	position: absolute;
}

.manual_paragraph {
	display: inline;
}

.banner {
	background-size: cover;
	color: white;
	padding: 100px 0;
	text-shadow: 1px 1px 10px black;
}

a.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

.center-text {
	text-align: center;
}

.quarter-opacity {
	opacity: 0.25;
}

.half-opacity {
	opacity: 0.5;
}

.section-heading-image {
	padding-bottom: 40px;
	padding-top: 40px;
}

li>ul {
	margin-bottom: 0;
	margin-top: 0;
}

.dont-break-out {
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-ms-word-break: break-all;
	-webkit-hyphens: auto;
	hyphens: auto;
	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;
}

.divider {
	background-color: #e5e5e5;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}

p.background_title {
	margin-top: 200px;
}

.row,
.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
	margin-left: -15px;
	margin-right: -15px;
}

.nav-item
{
  padding-top:4px;
  padding-bottom:4px;
}

.nav-link
{
  margin-left:1em;
  margin-right:1em;
}

.icon-search
{
  margin-top:-2px;
}

.nav-link.nav-has-child
{
  margin-right:0;
}



.action-buttons > .nav-link
{
  margin-left:0;
  margin-right:0;
  display:flex;
  justify-content:center;
  align-items:baseline;
}


.hide-index,
.aside,
li.hide-item {
	display: none;
}

.nav-item
{
  padding-top:4px;
  padding-bottom:4px;
}

.nav-link
{
  margin-left:1em;
  margin-right:1em;
}

.icon-search
{
  margin-top:-2px;
}

.nav-link.nav-has-child
{
  margin-right:0;
}

.chart_holder
{
  width:300px;
}


.table
{
  display:block!important;
}

table,th,td
{
  border:none;
  font-size:small;
}


@media (min-width:768px) {
	.container {
		width: 750px;
	}
	.container>.navbar-header,
	.container-fluid>.navbar-header,
	.container>.navbar-collapse,
	.container-fluid>.navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: -15px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 767px) {
	.content {
		margin-left: 16.66666667%;
		margin-right: 20px;
		width: 66.66666667%;
	}
	.cite-link {
		font-size: inherit;
		left: -30px;
	}
	.mobile-menu {
		display: none;
	}
	.large-menu {
		display: block;
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 767px) {
	.mobile-menu {
		display: block;
	}
	.large-menu {
		display: none;
	}
}

@media (max-width:767px) {
	p.background_title {
		margin-top: 20px;
	}
}


@media (min-width:767px) {
  ul,ol
  {
    padding-inline-start:40px;
  }
  
  .chart_holder
  {
    width:100%;
    text-align:center;
  }
}

@media screen and (max-width:767px) {
  .responsive-table
  {
    max-width:85vw;
    overflow-x:auto;
  }
}