
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$offwhite: #f8f8ff !default;
$nice-purple: #797A9E !default;;
$colour_blue: #54b1e4;
$colour_blue_dark: #2b8cdb;
$colour_blue_dark_2: #207cba;


$page-background-color: $offwhite !default;
$content-background-color: $offwhite !default;

$footnote-border-color: lightgrey !default;
$aside-border-color: lightgrey !default;

$blockquote-main-color: #D6E6FF !default;
$blockquote-border-color: #8AB7FF !default;

$divider-color: #585858 !default;

$highlight-color: #FFD836 !default;

$navbar-main-color : $white !default;
$navbar-accent-color: $black !default;
$navbar-border-color: $black !default;
$link-icon-color: $navbar-main-color !default;

$highlighted-content: yellow;

$dark: $navbar-accent-color !default;

$link-color: #174F91;

//variables for darkmode

$dark-page-background-color: $gray-900 !default;
$dark-content-background-color: $gray-800 !default;
$dark-content-text-color: $offwhite;
$dark-link-color: $colour_blue;

$dark-blockquote-main-color: $gray-700 !default;
$dark-blockquote-border-color: $blockquote-border-color !default;

$dark-table-color:                 $dark-content-text-color !default;
$dark-table-bg:                    $gray-800 !default;
$dark-table-accent-bg:             rgba($white, .05) !default;
$dark-table-hover-color:           $dark-table-color !default;
$dark-table-hover-bg:              rgba($white, .075) !default;
$dark-table-active-bg:             lighten($dark-table-bg, 7.5%) !default;

$dark-table-head-bg:               $gray-700 !default;
$dark-table-head-color:            $dark-content-text-color !default;


//applying stringprint to navbar

$navbar-dark-active-color:          $black !default;
$navbar-dark-active-background-color:$white !default;

$navbar-dark-color:                 $navbar-main-color;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-dark-brand-color:                 $navbar-dark-color !default;
$navbar-dark-brand-hover-color:           $navbar-dark-hover-color !default;

