body
{
  font-family:'Open Sans', sans-serif;
  font-size:12pt;
  background-color:$page-background-color;
}

.navbar-toggler
{
  color:$navbar-main-color;
}

a
{
  color:$link-color;
}

.large-menu
{
  padding-top:0;
  padding-bottom:0;
  border-bottom:1px solid $navbar-border-color;
  margin-left:0;
  margin-right:0;
}

h1
{
  margin-top:1em;
  margin-bottom:.5em;
  font-size:1.8em;
}

h2,h3
{
  margin-top:1em;
  margin-bottom:.5em;
}


.action-buttons > .nav-link
{
  margin-left:0;
  margin-right:0;
  display:flex;
  justify-content:center;
  align-items:baseline;
}


.navbar-nav {

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-item.active {
      background-color: $navbar-dark-active-background-color;
	  color: $navbar-dark-active-color;
    }
  }

.header-icon
{
  background-color:$navbar-accent-color;
  color:$link-icon-color;
}

.content-row,p.byline,p.other-formats-text,.container,#tipue_search_content
{
  background-color:$content-background-color;
}

.highlighted-content
{
  background-color:$highlighted-content;
}

.table td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#article_title
{
  margin-bottom:0;
  text-align:center;
  font-size:2.2em;
}

#article_subtitle
{
  text-align:center;
  margin-top:5px;
  font-size:1.5em;
  padding:0;
}

ul,ol
{
  padding-inline-start:20px;
}

.short-title
{
  font-weight:bold;
  font-size:14pt;
}

.nav-text
{
  font-size:14pt;
}

.section_change
{
  text-align:center;
  font-style:italic;
  padding-top:0;
  padding-bottom:10px;
}

.section_change > p{
  text-align:center;
}

.blockquote
{
  background-color:$blockquote-main-color;
  border-left:10px solid $blockquote-border-color;
  quotes:\201C\201D\2018\2019;
  font-style:italic;
  margin:5px 0 10px;
  padding:5px 10px 10px 5px;
}

span.quote
{
  font-style:italic;
}

.footnotes
{
  border:2px solid $footnote-border-color;
  quotes:\201C\201D\2018\2019;
  word-wrap:break-word;
  margin:1.5em 10px;
  padding:.5em 10px;
}

.extended
{
  border:10px solid $aside-border-color;
  quotes:\201C\201D\2018\2019;
  display:none;
  margin:1.5em 10px;
  padding:.5em 10px;
}

.content
{
  word-wrap:break-word;
  padding-left:0;
  padding-right:0;
}

.h1,h1,h2,h3,h4,h5,h6
{
  font-weight:600;
  line-height:1.1;
  color:inherit;
}

.h1
{
  font-size:2em;
  margin:.67em 0;
}

h1::after
{
  content:'';
  display:block;
  height:1px;
  width:50%;
  margin-top:20px;
  text-indent:-9999px;
  border-top:1px solid $divider-color;
}

h2::after
{
  content:'';
  display:block;
  height:1px;
  width:40%;
  margin-top:20px;
  text-indent:-9999px;
  border-top:1px solid $divider-color;
}

h3::after
{
  content:'';
  display:block;
  height:1px;
  width:30%;
  margin-top:20px;
  text-indent:-9999px;
  border-top:1px solid $divider-color;
}

.index::after
{
  content:'';
  display:block;
  height:1px;
  width:50%;
  margin-top:20px;
  text-indent:-9999px;
  border-top:1px solid $divider-color;
  margin-bottom:20px;
}

#info-link::after
{
  display:none;
}

.h1,h1,h2,h3,p,.footnotes > p
{
  text-align:left;
}

.byline,.other-formats-text
{
  text-align:center;
}

#related-research::after
{
  content:'';
  display:block;
  height:1px;
  width:50%;
  margin-top:20px;
  text-indent:-9999px;
  border-top:1px solid $divider-color;
  margin-bottom:20px;
}
